{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block body %}
<div class="pure-g">
    <button id="restart" class="waves-effect waves-light btn"><i class="fa fa-undo"></i> Restart</button>
    <button id="shutdown" class="waves-effect waves-light btn"><i class="fa fa-power-off"></i> Shutdown</button>
</div>

<h3>Services</h3>
    <table class="bordered">
    <thead>
        <tr>
            <th>Scheduler</th>
            <th>Enabled</th>
            <th>Active</th>
            <th>Cycle Time</th>
            <th>Next Run</th>
            <th>Last Run</th>
        </tr>
    </thead>

    <tbody>
{% for job in jobs.running %}
        <tr>
            <td>{{job.name}}</td>
            <td>True</td>
            <td>2009</td>
            <td>{{job.name}}</td>
            <td>{{job.trigger}}</td>
            <td>{{job.next_run_time}}</td>
        </tr>
{% endfor %}

    </tbody>
</table>

<h3>Indexers</h3>
<div class="indexers repeat">
    <table class="wrapper">
        <thead>
            <tr>
                <td><i class="fa fa-plus-circle add"></i></td>
            </tr>
        </thead>
        <tbody class="container">
        <tr class="template row">
            <td >
                <div class="input-field">
                    <input id="url" class="url" type="text" name="input-field[(row-count-placeholder)]" />
                    <label for="url">URL</label>
                </div>
            </td>

            <td >
                <div class="input-field">
                    <input id="api_key" class="api_key" type="text" name="input-field[(row-count-placeholder)]" />
                    <label for="api_key">API Key</label>
                </div>
            </td>

            <td class="s1">
                <div class="input-field">
                    <select id="type" class="type">
                        <optgroup label="Torrents">
                            <option value="torznab">Torznab</option>
                        </optgroup>
                    </select>
                    <label>Type</label>
                </div>
            </td>

            <td><i class="fa fa-minus-circle remove"></i></td>
        </tr>
        {% for indexer in indexers %}
         <tr class="row" data-id="{{indexer.id}}">
            <td>
                <div class="input-field">
                    <input id="url" class="url" type="text" name="input-field[(row-count-placeholder)]" value="{{indexer.url}}" />
                    <label for="url">URL</label>
                </div>
            </td>

            <td>
                <div class="input-field">
                    <input id="api_key" class="api_key" type="text" name="input-field[(row-count-placeholder)]" value="{{indexer.api_key}}"/>
                    <label for="api_key">API Key</label>
                </div>
            </td>

            <td class="s1">
                <div class="input-field">
                    <select id="type" class="type" value="{{indexer.type}}">
                        <optgroup label="Torrents">
                            <option value="torznab" {{'selected' if indexer.type == 'torznab' else ''}}>Torznab</option>
                        </optgroup>
                    </select>
                    <label>Type</label>
                </div>
            </td>

            <td><i class="fa fa-minus-circle remove"></i></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button id="save" class="waves-effect waves-light btn"><i class="fa fa-floppy-o"></i> Save</button>
</div>

{% endblock %}

{% block footer %}
<script src="/static/js/repeatable-fields.js"></script>
<script src="/static/js/views/settings.js"></script>
{% endblock %}

