<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MDMPy">
    <link rel="icon" href="/static/images/favico.png" sizes="32x32" />
    <link rel="icon" href="/static/images/favico.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/static/images/favico.png" />
    <meta name="msapplication-TileImage" content="/static/images/favico.png" />

    <title>MDMPy</title>

    <link rel="stylesheet" type="text/css" href="/static/css/materialize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ns-style-other.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/global.css"/>
    {% block head %}{% endblock %}
</head>
<body>

        <nav>
            <div class="nav-wrapper blue-grey lighten-3">
                <!--<div class="logo-wrapper valign-wrapper">-->
                    <a href="#" class="brand-logo valign"></a>
                <!--</div>-->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
                <ul id="nav-desktop" class="right hide-on-med-and-down">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/music">Music</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/music">Music</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </nav>
    <div id="main" class="container">

        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>

        <footer class="page-footer blue-grey lighten-3">
          <div class="footer-copyright">
            <div class="container center-align">
            Version : {{version}}
            </div>
          </div>
        </footer>


<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/modernizr.custom.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/notificationFx.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/ui.js"></script>
<script src="/static/js/materialize.js"></script>
{% block footer %}{% endblock %}
</body>
</html>
