.searchResult {
    height : 300px;
    -webkit-box-shadow: 2px 0px 29px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 0px 29px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 0px 29px 0px rgba(0,0,0,0.47);
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
    margin-top: 20px;
    overflow: hidden;
}

.searchResult-image {
    height : 300px;
    float : left;
}

.ns-effect-thumbslider {
    z-index : 9999;
    background-color : #fff;
    color: #fff;
}

.ns-thumb img {
    width : 60px;
}

.ns-box-inner {
    background-color : #b7b7b7;
}

.ns-type-notice {
    position : fixed;
    left : 170px;
}

.ns-thumb {
    margin-left: 10px;
    margin-top: 10px;
}

.ns-box-inner .ns-content {
    background-color: transparent;
    color : #fff;
}

.ns-effect-thumbslider .ns-close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.brand-logo {
    background-image: url('/static/images/MDMPy_logo.png');
    background-repeat : no-repeat;
    background-size: contain;
    background-position: center center;
    width: 170px;
    height: 100%;
    margin-left: 10px;
}

.nav-wrapper .fa-bars {
    font-size: 30px;
}
