{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/views/home/index.css"/>
{% endblock %}

{% block body %}
<div class="pure-u-1-1" id="welcome-header">
      <input id="searchInput" type="text" value="" name="query" />
      <button id="search" class="pure-button button-large button-secondary"><i class="fa fa-search"></i> Search</button>
</div>

<div id="searchResults" class="pure-g"></div>

{% endblock %}

{% block footer %}
<script src="/static/js/views/music.js"></script>
{% endblock %}



