{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block body %}
<div>
    <div class="input-field col s6">
      <i class="fa fa-search prefix"></i>
      <input id="searchInput" type="text" class="validate" name="query">
      <label for="searchInput">Search</label>
      <button id="search" class=""><i class="fa fa-search"></i> Search</button>
    </div>
</div>

<div id="searchResults" class="pure-g"></div>

{% endblock %}

{% block footer %}
<script src="/static/js/views/music.js"></script>
{% endblock %}



