{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/views/home/index.css"/>
{% endblock %}

{% block body %}
<h3>Music</h3>
    <table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Song</th>
            <th>Album</th>
            <th>Downloaded</th>
        </tr>
    </thead>

    <tbody>
     {% for song in music %}
        <tr>
            <td>{{song.artist}}</td>
            <td>{{song.title}}</td>
            <td>{{song.album}}</td>
            <td>{{ 'Yes' if song.downloaded else 'No' }}</td>
        </tr>
     {% endfor %}
    </tbody>
</table>

<div id="searchResults" class="pure-g"></div>

{% endblock %}

{% block footer %}
<script src="/static/js/views/dashboard.js"></script>
{% endblock %}



